$primary: hsl(171, 100%, 41%)
$grey: #dedede

.persona
	h3.subtitle
		color: $primary

.photo
	display: block
	width: 100%
	height: auto
	border: #aaa solid 1px

.quote
	width: 100%
	display: block
	margin-top: 10px
	padding: 5px
	background-color: $primary
	color: #fff
	box-sizing: border-box
	text-align: center

.basics
	margin: 1.5rem 0
	display: block
	float: none
	clear: both

.input-group
	label::after
		content: ':'
	input:disabled
		border: 0

.mbpt
	.trait
		.scale
			width: 100%

			span:first-child
				float: left
			span:last-child
				float: right

		input[type='range']
			width: 100%

.goals
	margin: 1.5rem 0

.painpoints
	margin: 1.5rem 0

.bio
	margin: 1.5rem 0
	width: 100%
	background-color: $grey
	padding: 10px

.motives
	margin-bottom: 1.5rem

.brands
	margin: 1.5rem 0

.platforms
	margin: 1.5rem 0

@import range

$track-color: $grey
$thumb-color: $primary
$track-width: 100%
$track-height: $thumb-height - 2
$track-border-width: 0
$thumb-radius: 4px

input[type=range]
	+input-type-range

.title
	.is-edit
		color: pink
